*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
    font-style: 900;
    font-size: 4em;
    color: #050552;
    padding-bottom: 0.2em;
}







h2 {
    font-weight: 600;
       font-size: 2em;
    color: #050552;
    padding-bottom: 2em;
}

p{
    font-size: 1.8em;
    color: #050552;
    padding-bottom: 0.4em;
    margin-left: 2em;
   margin-right: 2em;

}

.video {
    display: flex;
justify-content: center;
align-items: center;
padding-top: 3em;
width: 65%;
height: auto;
margin: auto;
overflow: hidden;
border-top: 4px solid #000;



}

.prints{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .print-img{
    border: 5px solid rgb(9, 9, 51);
    border-radius: 20px;
    margin-bottom: 7em;
    border-image: linear-gradient(to right, rgb(124, 207, 16), rgb(160, 4, 4)) 1;
    outline: 5px solid linear-gradient(to right, rgb(124, 207, 16), rgb(160, 4, 4));
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px outline; */

  }

  .legenda {
    
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: rgb(139, 8, 8); 
  }

  h3 {
    font-size: 2em;
    color: brown;
  }

  .tituloh2{
    text-align: center;
    font-size: 2em;
    color: brown;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
  }

  .inicial{
 padding-top: 3em;
 padding-bottom: 3em;
  }

  .destaque {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 14);
    border: 5px solid blanchedalmond;
    border-radius: 40px;
    margin: 2em auto;
    padding: 1em 2em;
    font-weight: 800;
    flex-wrap: wrap;
    max-width: 80%;

  }


  .marilia {

    background-color: yellow;
    font-size: x-large;
  }


  footer{
  text-align: center;

  margin-top: 3em;
  font-size: small;
  font-style: oblique;
  }
